html{
    background-color: #121212;
    background-image: url(img/backgroundnew.jpg);
    background-size: 100%;
    color: lightgrey;
    overflow: visible;
    background-repeat:no-repeat;
  }

  .logoimg {
    flex: auto;
    width: 9%;
    height: 10%;
    margin-bottom: 2px;
    margin-left: 46%;
  }
  .landing h1 {
    color:white;
    font-family: 'Times New Roman', Times, serif;
  }
  .landing h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 30px;
  }

  /* Text Area Styling */

  textarea {
    color: white; 
    padding: 20px 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: none;
    width: 100%;
    outline: none;
    height: 300px;
    background-color: rgba(129, 129, 129, 0.356);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
  }
  textarea::placeholder{
    color:white; 
    font-size: 18px;
  }
  h8 {
    color: white;
    font-size: 20px; 
    margin-left: 5px;
  }

  input[type=file] {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 35px 30px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 16px; 
    width: 100%;
    outline: none;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(129, 129, 129, 0.356);
    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
    cursor: pointer;
  }

  .customFileInput::before{
    content:'Select Recipe Picture (.jpg .jpeg .png)';
  }
  
  input::file-selector-button {
    cursor: pointer;
    visibility: hidden;
    width: 0%;
  }
  .column1 {
    margin-top: 30px;
    background-color:#121212;
    width: 50%;
    height: 680px;
  }
  .column2 {
    margin-top: 30px;
    background-color:#202020;
    width: 50%;
    height: 680px;
  }
  .column2 input{
      width: 70%;
      border-radius: 3%;
    }
  .column3 {
    float: left;
    background-image: linear-gradient(to left, rgba(63, 63, 63, 0.685), rgb(0, 0, 0));
    width: 40%;
    height: 1300px;
    }

  html b {
      font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-size: 11px;
  }
  
  li {
    list-style-type: none;
  }
  
  a1 img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
  h7 {
    font-size: 12px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
    a {
      text-decoration: none;
    }
  
    * {
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1{
      width: 110%;
      float: none;
    }
    .column2{
      margin-top: 30px;
      width: 110%;
      float: none;
      margin-left: 0%;
    }
  }
  
    /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    .registerbtn {
      width: auto;
      padding: 12px 36px;
      background-color: #f4ae36;
    }
  
    /* Center the avatar image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .imgcontainer img {
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .imgcontainer2 {
      width: 95%;
      background-color: rgba(90, 90, 90, 0.7);
      text-align: center;
      margin: 40px 10px 30px 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 5px rgba(190, 190, 190, 0.7);
    }
    
    .imgcontainer2 img {
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 40%;
    }

    /* Avatar image */
    img.avatar {
      width: 40%;
    }
  
    /* Add padding to containers */
    .container {
      padding: 16px;
    }
  
    .spacer{
      margin-top: 100px;
    }
  
    /* The "Forgot password" text */
    span.psw {
      align-self: center;
    }
  
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(120deg,#b8b8b800,#383838,#b8b8b800);
    color: white;
    text-align: center;
  }
  
  .w3-theme1 {
    background: linear-gradient(120deg,#b8b8b800,#383838,#b8b8b800);
  }
  
  
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
  
      html {
        overflow: visible;
        background-size: 10%;
      }
  
      span.psw {
        display: block;
        float: none;
      }
  
      .cancelbtn {
        width: 100%;
      }
  
      a1 img {
        display: none;
      }
  
      #projects {
        width: 400px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 100%;
        float:left;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 113px;
        height: 75px;
        border-radius: 5px;
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }
    }
  
    @media screen and (min-width: 1000px){
      html{
          animation: change 30s infinite ease-in-out;
          -webkit-animation: change 30s infinite ease-in-out;
          -moz-animation: change 30s infinite ease-in-out;
          -o-animation: change 30s infinite ease-in-out;
      }
      .imgcontainer {
        text-align: center;
        margin: 70px 750px 12px 750px;
        width: 40%;
      }
      .center{
        margin-top: 50px;
      }
      /* Avatar image */
      img.avatar {
        width: 10%;
      }
      span{
        font-size: 20px;
      }
      span1{
        color: #04AA6D;
        font-size: 20px;
        text-decoration: none;
      }
      span1:hover {
        opacity: 0.8;
      }
  
      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
      }
  
      button {
        margin-top: 50px;
        width: 20%;
      }
  
      button1 {

      width: 90%;
      height: 60px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 24px;
      background: linear-gradient(120deg,#34f766,#0d6924);
      font-weight: 800;
      cursor: pointer;
      outline: none;
      margin-left: 45px;
      border-color: #26d953;

      }

      button1:hover {
      border-color: white;
      transition: .5s;
      }
  
      button2 {
        width: 10%;
      }
  
      button3 {
        width: 10%;
      }

      /* Select Styling */

      .drop {
      width: 220px;
      height: 40px;
      border: 1px solid rgb(22, 22, 22);
      font-size: 20px;
      font-weight: 600;
      color: white;
      background: #38383898;
      border-radius: 5px;
      box-shadow: 2px 3px 3px 3px #8888886c;
      border-color: white;
      cursor: pointer;
      }
  
      #projects {
        width: 1900px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 25.5%;
        float:left;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 450px;
        height: 300px;
        border-radius: 5px;
  
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }

      /* Styling für die Search Bar */
      .Searchbar button {
        margin-top: 0.5%;
        margin-left: 7px;
        margin-right: 18.5%;
        width: 4%;
        height: 40px;
        border: 1px solid;
        color: white;
        border-radius: 25px;
        font-size: 15px;
        background: #38383898;
        font-weight: 500;
        cursor:pointer;
        outline: none;
        box-shadow: 2px 3px 3px 3px #8888886c;
        border-color: white;
      }
      .Searchbar Button:hover{
        border-color: white;
        box-shadow: 3px 4px 4px 4px #ffffff42;
        transition: .5s;
      }
      .Searchbar Button:focus{
        visibility:hidden;
        outline: none;
      }
      .Searchbar input[type="text"]{
        width: 21%;
        height: 40px;
        margin-top: 0.5%;
        border: 1px solid;
        color: #383838;
        border-radius: 25px;
        font-size: 15px;
        background: #ffffff;
        font-weight: 500;
        outline: none;
        box-shadow: 2px 3px 3px 3px #8888886c;
        border-color: #383838;
        margin-left: 1%;
      }
    }
        /* FULL HD Compatible */
  
    @media screen and (width: 1920px){
      .imgcontainer {
        text-align: center;
        margin: 70px 50px 12px 580px;
        width: 40%;
      }
  
      /* Avatar image */
      img.avatar {
        width: 20%;
      }
      span{
        font-size: 20px;
      }
      span1{
        color: #04AA6D;
        font-size: 20px;
        text-decoration: none;
      }
      span1:hover {
        opacity: 0.8;
      }
  
      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
      }
  
      button {
        margin-top: 50px;
        width: 20%;
      }
  
      button3 {
        width: 15%;
      }
  
      #projects {
        width: 1900px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 25.5%;
        float:left;
        margin-bottom: 15px;
        margin-left: 120px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 450px;
        height: 300px;
        border-radius: 5px;
  
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }
      

    }
    /* new Design for login */
    .center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 550px;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .center h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
      color: white;
    }
    .center form{
      padding: 0 40px;
      box-sizing: border-box;
      margin-bottom: 30px;
    }

    .centerupload{
      position: absolute;
      top: 63%;
      left: 50%;
      margin-top: 35%;
      transform: translate(-50%,-50%);
      width: 1150px;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .centerupload h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
      color: white;
    }
    .centerupload form{
      padding: 0 40px;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
    .centerupload .txt_field{
      margin-bottom: 30px;
    }

    /* new Design for Page Creations */
    .center2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-top: 175px;
      width: 1000px;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .center2 h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
      color: white;
    }
    .center2 form{
      padding: 0 40px;
      box-sizing: border-box;
    }

    form .txt_field{
      position: relative;
      border-bottom: 2px solid white;
      margin: 30px 0;
    }
    .text_field input {
      width: 100%;
      background-color: grey;
      color: white;
    }
    .text_field label{
      color: white;
      margin-left: 23px;
    }
  
    .txt_field input{
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 22px;
      border: none;
      background: none;
      outline: none;
      color: white;
    }
    .txt_field label{
      position: absolute;
      top: 50%;
      left: 5px;
      color: white;
      transform: translateY(-50%);
      font-size: 20px;
      pointer-events: none;
      transition: .5s;
      margin-left: 20px;
    }
  
    .txt_field span::before{
      content: '';
      position: absolute;
      top: 56px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #929292;
      transition: .5s;
    }
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
      top: -5px;
      color: #929292;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
      width: 100%;
    }
    .pass{
      margin: -7px 0 20px 25px;
      color: white;
      cursor: pointer;
      font-size: 18px;
  
    }
    .pass:hover{
      text-decoration: underline;
    }
    input[type="submit"]{
      width: 25%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: #38383898;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      box-shadow: 4px 7px 6px 6px #8888886c;
      margin-top: 3%;
      margin-left: 37.5%;
      border-color: white;
    }
    input[type="submit"]:hover{
      border-color: white;
      box-shadow: 6px 9px 8px 8px #ffffff42;
      transition: .5s;
    }

    input[type="submit2"]{
      width: 25%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: #38383898;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      box-shadow: 4px 7px 6px 6px #8888886c;
      margin-top: 13%;
      margin-left: 37.5%;
      text-align: center;
      border-color: #cacaca;
    }
    input[type="submit2"]:hover{
      border-color: white;
      box-shadow: 6px 9px 8px 8px #ffffff42;
      transition: .5s;
    }

    .navi input[type="submit"]{
      width: 70%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 16px;
      background: #38383898;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      box-shadow: 4px 7px 6px 6px #8888886c;
      margin-top: 5%;
      margin-left: 15%;
      text-align: center;
      border-color: #cacaca;
    }
    .navi input[type="submit"]:hover{
      border-color: white;
      box-shadow: 6px 9px 8px 8px #ffffff42;
      transition: .5s;
    }

    .style2 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: #38383898;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 30px;
      margin-top: 7%;
      border-color: #cacaca;
    }
    .style2 input[type="submit"]:hover{
      border-color: white;
      box-shadow: 6px 9px 8px 8px #ffffff42;
      transition: .5s;
    }
    .style2 Link{
      margin-bottom: 10px;
    }

    .style3 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#0394fc,#0447ac85);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 10px;
      border-color: #0394fc
    }
    .style3 input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
    .style4 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#0394fc,#0447ac85);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 30px;
      border-color: #0394fc
    }
    .style4 input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
  
    .signup_link{
      margin: 30px 0;
      text-align: center;
      font-size: 16px;
      color: white;
    }
    .signup_link a{
      color: #26d953;
      text-decoration: none;
    }
    .signup_link a:hover{
      text-decoration: underline;
    }

    /* Hier ist das Styling fürs Mobile Landing */

    @media screen and (max-width: 535px){
      html{
        background-color: #121212;
        background-image: url(img/backgroundmobile.jpg);
        background-size: 120%;
        color: lightgrey;
        overflow: visible;
      }
      .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        background-color: rgba(90, 90, 90, 0.7);
        border-radius: 10px;
        box-shadow: 2px 5px 4px 1px rgba(190, 190, 190, 0.7);
      }
      .center h1{
        text-align: center;
        padding: 0 0 10px 0;
        border-bottom: 1px solid silver;
        color: white;
        font-size: 25px;
      }
      .center h5{
        font-size: 16px;
      }
      .center h3{
        font-size: 20px;
        margin-bottom: 15px;
      }
      .center form{
        padding: 0 20px;
        box-sizing: border-box;
      }
      .centerupdate{
        position: absolute;
        top: 380%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        background-color: rgba(90, 90, 90, 0.7);
        border-radius: 10px;
        box-shadow: 2px 5px 4px 1px rgba(190, 190, 190, 0.7);
      }
      .centerupdate h1{
        text-align: center;
        padding: 0 0 10px 0;
        border-bottom: 1px solid silver;
        color: white;
        font-size: 25px;
      }
      .centerupdate form{
        padding: 0 20px;
        box-sizing: border-box;
      }
      form .txt_field{
        position: relative;
        border-bottom: 2px solid white;
        margin: 30px 0;
      }
      .txt_field input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        color: white;
      }
      .txt_field label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: white;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
      }
      .place_hold {
        visibility: hidden;
      }
      .pass{
        margin: -5px 0 20px 25px;
        color: white;
        cursor: pointer;
        font-size: 16px;
      }
      .style2 input[type="submit"]{
        width: 80%;
        height: 50px;
        border: 1px solid;
        color: white;
        border-radius: 25px;
        font-size: 13px;
        background: #38383898;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        margin-left: 32px;
        border-color: #cacaca;
        margin-bottom: 20px;
      }
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }
      .drop {
        width: 80%;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10%;
        border: 1px solid;
        font-size: 13px;
        font-weight: 600;
        color: white;
        background: #38383898;
        border-radius: 25px;
        box-shadow: 2px 3px 3px 3px #8888886c;
        border-color: white;
        cursor: pointer;
        }
        /* ProfileEdit Fix*/
        .column2fix {
          margin-top: 30px;
          background-color:#131313;
          width: 100%;
          height: 600px;
        }
        .column2 {
          margin-top: -20px;
          width: 100%;
          height: 700px;
        }
        input[type=file] {
          color: rgb(255, 255, 255);
          font-size: 18px;
          padding: 35px 0px;
          box-sizing: border-box;
          margin-top: 30px;
          margin-bottom: 16px; 
          width: 100%;
          outline: none;
          height: 100px;
          border-radius: 10px;
          background-color: rgba(129, 129, 129, 0.356);
          box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
          cursor: pointer;
        }
        input::file-selector-button {
          cursor: pointer;
          visibility: hidden;
          width: -10%;
        }
        .checkboxall input{
          margin-top: 15px;
        }

        /* Styling für die Search Bar Auf Mobil */

        .Searchbar button {
          margin-top: 0.5%;
          margin-left: 9px;
          margin-right: 0%;
          width: 12%;
          height: 40px;
          border: 1px solid;
          color: white;
          border-radius: 25px;
          font-size: 15px;
          background: #38383898;
          font-weight: 500;
          cursor:pointer;
          outline: none;
          box-shadow: 2px 3px 3px 3px #8888886c;
          border-color: white;
        }
        .Searchbar Button:hover{
          border-color: white;
          box-shadow: 3px 4px 4px 4px #ffffff42;
          transition: .5s;
        }
        .Searchbar Button:focus{
          visibility:hidden;
          outline: none;
        }
        .Searchbar input[type="text"]{
          width: 32%;
          height: 40px;
          margin-top: 0.5%;
          border: 1px solid;
          color: #383838;
          border-radius: 25px;
          font-size: 15px;
          background: #ffffff;
          font-weight: 500;
          outline: none;
          box-shadow: 2px 3px 3px 3px #8888886c;
          border-color: #383838;
          margin-left: 1%;
        }
    }
    
    /*Drag And Drop CSS file*/
    
    .files input {
      
      background: linear-gradient(to right, rgba(133, 133, 133, 0.781), rgba(133, 133, 133, 0.781));
      outline: 2px dashed #ffffff;
      outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      padding: 120px 0px 150px 35%;
      text-align: center !important;
      margin: 0;
      width: 100% !important;
  }
  .files input:focus{     outline: 2px dashed #ffffff;  outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
   }
  .files{ position:relative}
  .files:after {  pointer-events: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 50px;
      right: 0;
      height: 56px;
      content: "";
      display: block;
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
  }
  .color input{ background-color:#f1f1f1;}
  .files:before {
      position: absolute;
      bottom: 10px;
      left: 0;  pointer-events: none;
      width: 100%;
      right: 0;
      height: 57px;
      content: " Drag file in or upload from the button ";
      display: block;
      margin: 0 auto;
      color: #ffffff;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
  }
  .notification {
    background-color: rgba(255, 30, 0, 0.7);
    border: 1px solid;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .notification h3 {
    font-size: 18px;
    color: white;
    text-align: center;
  }

  /* Styling für die Contentboxen
  
  ***************************************
  
  */

  .contentboxl{
    float: left;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 7%;
    margin-bottom: 3%;
    width: 25%;
    height: 25%; 
    background-color: rgba(90, 90, 90, 0.8);
    border: 3px solid rgba(136, 136, 136, 0.8); 
    border-radius: 5px;
  }

  .contentboxl h1{
    text-align: center;
    background: linear-gradient(120deg,#eeeeee00,#919191,#eeeeee00);
    color: white;
  }

  .contentboxl h2{
    text-align: center;
  }
  .contentboxl h3{
    margin-left: 30px;
    color: white;
  }

  .contentboxl img{
    width: 90%;
    height: 90%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 3px solid rgba(136, 136, 136, 0.8);
    border-radius: 5px;
  }

  .contentboxtextl{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 23px;
    text-justify: inter-word;
    font-size: small;
    border: 3px solid rgba(136, 136, 136, 0.8);
    border-radius: 5px;
  }

  .contentboxtextl hr {
    border: 2px solid rgba(136, 136, 136, 0.8);
  }  

  .contentboxtextl h4 {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    word-wrap: break-word;
  }

  .contentboxtextl h3 {
    margin-top: -25px;
    margin-left: 5px;
  }

  .contentboxtextl h2 {
    text-align: center;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 5px;
    color: white;
  }

  .contentflagl{
    float: right;
    margin-right: 50px;
    width: 20%;
    height: 20%;
    margin-top:30px;
  }

  .recipeHeader img {
    width: 6%;
  }
  .recipeHeader buttonp{
    width: 200px;
    
    background: linear-gradient(120deg,#eeeeee00,#686868,#eeeeee00);
    border: 2px solid #383838;
    color:white; 
  }
  .recipeHeader buttonn{
    width: 200px;
    
    border: 2px solid #383838;
    background: linear-gradient(120deg,#eeeeee00,#686868,#eeeeee00);
    color:white;
  }

  @media screen and (max-width: 450px){
    .contentboxl{
      margin-left: 9px;
      margin-right: 25px;
      margin-top: 180px;
      margin-bottom: 15%;
      width: 95%;
      height: 100%; 
      background-color: rgba(90, 90, 90, 0.8);
      border: 3px solid rgba(136, 136, 136, 0.8); 
      border-radius: 5px;
    }

    .contentboxl img{
      width: 84%;
      height: 90%;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 30px;
      border: 3px solid rgba(136, 136, 136, 0.8);
      border-radius: 5px;
    }

    .contentflagl{
      float: right;
      margin-right: 20px;
      width: 25%;
      height: 30%;
      margin-top:25px;
    }

    .contentboxtextl h3 {
      margin-top: -25px;
      margin-left: 5px;
      font-size: 15px;
    }

    .contentboxl h1{
      font-size: 25px;
    }

    .contentboxl h2 {
      font-size: 20px;
    }

    .contentboxtextl h2 {
      font-size: 20px;
    }

    .contentboxtextl h4 {
      font-size: 15px;
      white-space: normal;
      word-wrap: break-word;
    }

    .recipeHeader img {
      width: 170px;
    }

    .recipeHeader buttonp{
      width: 100px;
      height: 40px;
      margin-top: 5px;
      margin-left: 30px;
      margin-bottom: 5px;
    }

    .recipeHeader buttonn{
      width: 100px;
      height: 40px;
      margin-top: 5px;
      margin-left: 130px;
      margin-right: 30px;
      margin-bottom: 5px;
    }
    /* Link Buttons werden erst einmal MOBIL nicht angezeigt 
    -> Vorerst kein Styling möglich */
  }
  .landingnew h1{
    color: #ffffff;
    margin-left: 39%;
    margin-top: 15%;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
  }
  .landingnew h2{
    color: #ffffff;
    margin-left: 25%;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
  }
.textfont h1 h2 h3 h4 h5 h6{
  font-family: 'Times New Roman', Times, serif;
}
.margintop h1{
  margin-top: 17%;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.margintop h2{
  margin-top: 1%;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/* Hier ist das Styling für die kleinen Buttons*/

.Buttonfix input[type="Button"]{
  float: right;
  margin-top: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
  width: 5%;
  height: 40px;
  border: 1px solid;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  background: #38383898;
  font-weight: 500;
  cursor:pointer;
  outline: none;
  box-shadow: 2px 3px 3px 3px #8888886c;
  border-color: white;
}
.Buttonfix input[type="Button"]:hover{
  border-color: white;
  box-shadow: 3px 4px 4px 4px #ffffff42;
  transition: .5s;
}

input[type="reset"]{
  margin-top: 0%;
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
  height: 40px;
  border: 1px solid;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  background: #38383898;
  font-weight: 500;
  cursor:pointer;
  outline: none;
  box-shadow: 2px 3px 3px 3px #8888886c;
  border-color: white;
}
input[type="reset"]:hover{
  border-color: white;
  box-shadow: 3px 4px 4px 4px #ffffff42;
  transition: .5s;
}
input[type="reset"]:focus{
  visibility:hidden;
  outline: none;
}
